@using Lexicon_LMS.Models
@model Lexicon_LMS.Models.Course

@{
    ViewBag.Title = "Course";

    ViewBag.CourseId = Model.Id;
}


<h2 style="color:darkred;"><b>@Model.Name</b></h2>  


<div>
    @*<h4>@Html.DisplayFor(model => model.Name)</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>

<hr />

<div>
    <h3 style="color:darkred;"><b>Course modules</b></h3>

    @foreach (var module in Model.Modules.OrderBy(x => x.StartDate))
    {
        <div>
            <h5><strong>@module.Name</strong> ( @Html.DisplayFor(m => module.StartDate) - @Html.DisplayFor(m => module.EndDate) )</h5>
            <p>@module.Description</p>
        </div>
    }
    @if (!Model.Modules.Any())
    {
        <p>Inga moduler registrerade för denna kurs</p>
    }

</div>

<hr />
<div>
    <h3 style="color:darkred;"><b>Course members</b></h3>

    <div class="contaier-fluid">
        <div class="row">

            @foreach (var student in Model.Users.ToList())
            {
                <div class="col-sm-6 col-md-4">
                    <p><strong>@student.FullName</strong> <a href="@student.Email">@student.Email</a></p>
                </div>
            }
        </div>
    </div>

    <hr />
    @Html.ActionLink("Add new student", "Register", "Account", routeValues: new { role = Role.Student, courseid = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
   

</div>
