@using Lexicon_LMS.Models
@using Microsoft.AspNet.Identity

@model Lexicon_LMS.Models.Module

@{
    ViewBag.Title = "ListActivity";
}

<h2></h2>
<div class="activity-table">
@if (User.IsInRole(Role.Teacher))
{
    @Html.ActionLink("Add new activity", "CreateActivity", "Home", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default btn-sm newActivityBtn" })
}

<table class="table table-responsive dl-horizontal table-striped table-bordered">
    <tr>
        
        <th>
          Name
        </th>
        <th>
           Description
        </th>
        <th>
           Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
          ActivityType
        </th>

    </tr>

@foreach (var item in Model.Activity) {
   
    <tr class="user-tr">
      
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityType.Name)
            <span class="right"><a href="#" class="js-delete-entity glyphicon glyphicon-trash" data-user-api="/HomeApi/DeleteActivity/" data-user-id="@item.Id" data-user-remove=".user-tr" data-user-message="Delete activity @Html.DisplayFor(modelItem => item.Name)"></a></span>
        </td>
   
    </tr>
}

</table>
</div>
