@model IEnumerable<Lexicon_LMS.Models.ApplicationUser>
@{
    ViewBag.Title = "List users";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <p>There are no register users at the moment</p>
}

else
{
    <table class="table table-responsive dl-horizontal table-striped table-bordered">
        <tr>
            <th>
               @Html.ActionLink("Lastname", "SortUsers", new { LastSortOrder = "Desc", boll = ViewBag.Bool})   @* @Html.DisplayNameFor(model => model.LastName) *@
            </th>
            <th>
               @Html.ActionLink("Firstname", "SortUsers", new { FirstSortOrder = "Desc", boll = ViewBag.Bool})  @*@Html.DisplayNameFor(model => model.FirstName) *@
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="user-row">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(ViewBag.RolesLookup.ContainsKey(item.Roles.First().RoleId)? ViewBag.RolesLookup[item.Roles.First().RoleId] : "none")
                </td>
                <td>
                    <span class="right">
                        <a href=@Url.Action("EditUser", new { userId = item.Id }) class="glyphicon glyphicon-edit"></a>
                        |
                        <a href="#" class="js-delete-entity glyphicon glyphicon-trash" data-user-api="/AccountApi/DeleteUser/" data-user-id="@item.Id" data-user-remove=".user-row" data-user-message="Delete user @Html.DisplayFor(modelItem => item.FullName)"></a>
                    </span>
                </td>
            </tr>
        }

    </table>
}

