@model Lexicon_LMS.Models.Document

@{
    ViewBag.Title = "AddFileToSystem";
}

<h3>Add Documents</h3>


@using (Html.BeginForm("AddFileToSystem", "Document", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CourseId)
    @Html.HiddenFor(model => model.ModuleId)
    @Html.HiddenFor(model => model.ActivityId)

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "enter optional file description" })
    </div>

    <div class="form-group">
        <div style="position: relative;">
            <a class='btn btn-default btn-sm btn-font'>Choose File...
                <input id="inputFileName" required type="file" name="file" onchange='$("#chosedFile").text($("#inputFileName")[0].files[0].name);'/>
            </a>
            &nbsp;
            <span id="chosedFile">Choose a file</span>
    </div>
    </div>
    <div class="form-group">
         <input type="submit" value="Create" class="btn btn-default" />
        <a href="@TempData["ReturnUrl"]" class="btn btn-default">Cancel</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
